*.autosave
*.pro.user
*.o
moc_*
*.stash
analyseur_src
integration/integration_src/integration
analyseur/analyseur_test/analyseur_test
integration/integration_test/test_analyserconfindow/test_analyserconfindow
integration/integration_test/test_analysertab/test_analysertab
integration/integration_test/test_conflist/test_conflist
integration/integration_test/test_dbtab/test_dbtab
integration/integration_test/test_keywordswindow/test_keywordswindow
integration/integration_test/test_mainwindow/test_mainwindow
integration/integration_test/test_patternwindow/test_patternwindow
integration/integration_test/test_scraperconfwindow/test_scraperconfwindow
integration/integration_test/test_scrapertab/test_scrapertab
integration/integration_test/test_typeswindow/test_typeswindow
target_wrapper.sh
__pycache__/
venv/
cache-directory/
.pytest_cache


